<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner"> <!-- img 0 -->
    <div class="carousel-item active">
      <img src="/uploads/rings_gallery.jpg" alt="Rings">
      <!--div class="carousel-caption">
       <h3>Rings</h3>
      </div-->
    </div>
    
    <div class="carousel-item"> <!-- img 1 -->
      <img src="/uploads/pendants_gallery.jpg" alt="Pendants">
      <!--div class="carousel-caption">
       <h3>Pendants</h3>
      </div-->   
    </div>
    
        <div class="carousel-item"> <!-- img 2 -->
      <img src="/uploads/earrings_gallery.jpg" alt="Earrings">
      <!--div class="carousel-caption">
       <h3>Earrings</h3>
      </div-->  
    </div>
    
    <div class="carousel-item"> <!-- img 3 -->
      <img src="/uploads/stronsay_ariel_gallery.jpg" alt="Stronsay">
      <!--div class="carousel-caption">
       <h3>Strongsay</h3>
      </div-->   
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
