<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
      <a href="{{ .URL }}">
        <span>{{ .Name }}</span>
      </a>
    </li>
    {{end}}
        <li class="menu-item">
      <a title="Buy a Gift Voucher" class="snipcart-add-item"
      data-item-id="1"
      data-item-name="Gift Voucher"
      data-item-price="0.00"
      data-item-url="https://mmjewellery.netlify.com/"
      data-item-stackable="false"
      data-item-custom1-name="Amount"
      data-item-custom1-options="£5 [+5.00]|£10 [+10.00]|£15 [+15.00]|
                                 £20 [+20.00]|£25 [+25.00]|£30 [+30.00]|
                                 £40 [+40.00]|£50 [+50.00]|£60 [+60.00]|
                                 £70 [+70.00]|£80 [+80.00]|£90 [+90.00]|
                                 £100 [+100.00]|£125 [+125.00]|£150 [+150.00]|
                                 £175 [+175.00]|£200 [+200.00]"
     data-item-description="Give someone a gift certificate towards a beautiful piece of Marion Miller Jewellery.">
      <span>Gift-Voucher</span>
      </a>
    </li> 
  </ul>
</div>
