<!--div class="container"-->
    <!--div class="row"-->
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="">
                        <img class="pic-1" src="{{ .image }}" alt="">
                        <img class="pic-2" src="{{ .img_closeup }}" alt="">
                    </a>
                          </div>
                                <h2 class="product__name text-truncate">{{ .name }}</h2> 
                                <!--p class="product__description">{{ .description }}</p-->
                
                                <button
                                   class="snipcart-add-item buy-button"     
                                   data-toggle="collapse" 
                                   data-target="#{{ .id }}">
                                   Show Description
                                </button>
                                <div id="{{ .id }}" class="collapse">
                                    <p class="product__description">{{ .description }}</p>
                                </div>
                
                                 <div class="product__price">£{{ .price }}</div>
                                  <button
                                      class="snipcart-add-item buy-button"
                                      data-item-id="{{ .id }}"
                                      data-item-name="{{ .name }}"
                                      data-item-price="{{ .price }}"
                                      data-item-url="{{ .product_url }}"
                                      data-item-description="{{ .description }}">
                                      Add to cart
                                   </button>
            </div>
        </div>
    <!--/div--> <!--row-->
<!--/div--> <!--Container-->
