
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="{{ .image }}">
                        <img class="pic-2" src="{{ .img_closeup }}">                        
                    </a>
                    <ul class="social">
                        <li>
                                <a href="" data-tip="Quick View">
                                        <i class="fa fa-search"></i>
                                </a>
                            </li>
                        <li>
                                <a href="" data-tip="Add to Cart">
                                        <i class="fa fa-shopping-cart"></i>
                                </a>
                            </li>
                    </ul>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">20%</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">{{ .short_name }}</a></h3>
                    <div class="price">£{{ .price }}
                        <span>{{ .full_price }}</span>
                    </div>
                      
                      {{ partial "rings/modal.html" . }} 
                   
                  </div>
                </div>
              </div>   
            </div>        
