<!-- Snipcart -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
 <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="MmQ0ZmU2NDEtZjc4MS00NjBmLThlN2EtYjliYzVmYTQ4MGI3NjM3MDI2MTI1Mjk1NTczMjAz"></script>
 <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
<!-- Snipcart 3.0 Beta
 <script src="https://cdn.snipcart.com/themes/v3.0.0-beta.3/default/snipcart.js"></script>
 <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.0-beta.3/default/snipcart.css" / -->
<!-- End -->

<script>
    $(document).ready(function() {
        $('.menu li').bind('touchstart touchend', function(e) {
            e.preventDefault();
            $(this).toggleClass('over');
    				$('body').removeClass('no-touch');
        });
    });
    </script>
