<div class="col-md-3 col-sm-6">
   <div class="product-grid">
       <div class="product-image">
                 <ul class="menu">
    		       <li> 
                     <span class="tnail"><img class="" src="{{ .image }}" alt=""></span>
                     <span class="image"><img class="" src="{{ .img_closeup }}" alt=""></span>
                   </li>                   
                 </ul>
         </div>
                            <h2 class="product__name text-truncate">{{ .name }}</h2> 
      
                           <!-- {{ partial "modal.html" . }} -->
                
                               <button
                                  class="snipcart-add-item buy-button"
                                  data-toggle="collapse" 
                                  data-target="#{{ .id }}">
                                  <h6>More...</h6>
                                </button>
                                <div id="{{ .id }}" class="collapse">
                                    <p class="product__description">{{ .description }}</p>
                                </div>
                
                                 <div class="product__price">£{{ .price }}
                                  <button
                                      class="snipcart-add-item buy-button"
                                      data-item-id="{{ .id }}"
                                      data-item-name="{{ .name }}"
                                      data-item-custom1-name="Ring Size"
                                      data-item-custom1-options="s|m|l|one size|k|n|o|p|q|r"
                                      data-item-custom1-value="s"    
                                      data-item-price="{{ .price }}"
                                      data-item-url="{{ .product_url }}"
                                      data-item-description="{{ .description }}">
                                      <h6>Add to bag</h6>
                                   </button>
                                </div>    
  </div>
</div>
