<!--div class="container d-flex flex-wrap htcs-flex-container"-->
    <!--div class="row"-->
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="{{ .image }}" alt="">
                        <img class="pic-2" src="{{ .image }}" alt="">
                    </a>
                          </div>
                                <h2 class="product__name">{{ .name }}</h2> 
                                <!--p class="product__description">{{ .description }}</p-->
                                 <div class="product__price">£{{ .price }}</div>
                                  <button
                                      class="snipcart-add-item buy-button"
                                      data-item-id="{{ .id }}"
                                      data-item-name="{{ .name }}"
                                      data-item-price="{{ .price }}"
                                      data-item-url="{{ .product_url }}"
                                      data-item-description="{{ .description }}">
                                      Add to cart
                                   </button>
            </div>
        </div>
    <!--/div--> <!--row-->
<!--/div--> <!--Container-->
