{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-services-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro">
  <div class="container">

          <main class="products">
            {{ range where .Site.RegularPages "Section" "rings"}}
              {{ partial "rings/product.html" .Params }}
            {{ end }}     
         </div> 
        
        </main>
      {{ if .Params.intro_image }}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img
          class="intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}"
          src="{{ .Params.intro_image | relURL }}" />
      {{ end }}
  </div>
</div> <!-- Container -->

<div class="container pt-6 pb-md-12">
  <div class="row">
    {{ range .Pages.ByWeight }}
    <div class="col-12 col-md-6 mb-2 ">{{ .Render "summary" }}</div>
    {{ end }}
  </div>
</div>
{{ end }}
